<style>
    nav, html{
        text-align: auto;
        nav-left: auto;
        float: left;

    }

    ul {
        list-style-type: none;
        margin: 0;
        padding: 10px;
        width: auto;
        background-color: rgb(96, 96, 96);
        border-radius: 15px;
    }
    body, html {       
        background-color: white;
        margin: 20px;
        line-height: 26px;
        color: black;
        align-content: center; 
        text-align: center;
    }
    /*.spacing {
        gap: 10px;
        padding: 20px;
    }*/

    .containerP {
        top: 10px;
        padding: 0px 60px; solid #B75E88;
    }

    #menu {
        float: left;
    }

    li a{
        text-decoration: none;
        color: rgb(222, 222, 222);
    }

    li a:hover{
        opacity: 0.8;
    }
</style>
